/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* Cabeçalho principal */
h1 {
  background-color: #0d8acd;
  border-radius: 4px;
  color: white;
  margin: 60px auto;
  padding: 20px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Parágrafos */
p {
  font-family: 'Roboto', sans-serif;
}

/* Classe para parágrafos estilizados */
.paragrafo {
  margin: 10px auto;
  padding: 20px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* Botões */
.botao {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caixa */
.caixa {
  width: 200px;
  height: 100px;
  background-color: #0d8acd;
  border-radius: 4px;
  margin: 10px 50px;
  padding: 30px 10px;
  text-align: center;
  transition: transform 0.6s ease-in-out;
}

/* Seção com hover */
section:hover {
  background-color: #81d16b;
  transform: scale(1.0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

/* Links */
a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/* Navegação */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #ecf1f5;
}

/* Barra de navegação */
.navbar {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #4b4949;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

/* H6 com hover */
h6:hover {
  color: #51b536;
  cursor: pointer;
  transform: scale(1.1);
}

/* Rodapé */
.rodape {
  background-color: #0d8acd;
  font-size: 14px;
  color: white;
  height: 150px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

#icones {
  display: flex;
  gap: 5px;
  align-items: first baseline;
  height: 20px; 
}

/* CSS Formulário */
#formulario {
  background-color: #85b6c7;
  color: white;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  padding: 5%;
  font-family: 'Raleway', sans-serif;
}

#txt {
  font-size: 30px;
}

#Semail, #assunto {
  height: 30px;
  width: 25%;
  border-radius: 4px;
  border: 0.5px solid #0d8acd;
  background-color: white;
}

#assunto {
  height: 150px;
}

#aEmail, #aAssunto {
  color: red;
}

#sDocente {
  align-items: center;
  text-align: center;
  color: black;
  width: 25%;
  height: 40px;
  border-radius: 4px;
  border: 0.5px solid #add8e6;
  background-color: white;
}

#Bform {
  color: white;
  margin-top: 10px;
  font-weight: 500;
  background-color: #0d8acd;
  border-radius: 4px;
  width: 280px;
  height: 40px;
  border: none;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#Bform:hover {
  background-color: #81d16b;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.btform {
  color: white;
  font-size: 18px;
  background-color: #0d8acd;
  border-radius: 4px;
  width: 25%;
  height: 80px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 60px auto;
}

.conteudo {
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 10px auto;
  padding: 20px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
